PORT=5000
MONGO_URI=mongodb+srv://cybershield_admin:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/cybershield
JWT_SECRET=cybershield_super_secret_jwt_key_2026_cse_final_year
PYTHON_AI_URL=https://YOUR-FLASK-APP.onrender.com/predict-url
NODE_ENV=production
